.graph-container {
  height: 50%;

  margin: 1em;

  box-sizing: border-box;
  padding: 1em;

  background-color: white;

  border-radius: 10px;
  border: 2px solid lightgray;
}

@media (min-width: 1024px) {
  .graph-container {
    width: 67%;
    height: 100%;

    margin: 0;
  }
}
