.control-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.field {
  border-radius: 5px;
  border: 1px solid $primary;

  padding: 5px;
}

.field-name {
  width: 50%;
  height: 2em;
}

.field-value {
  width: 20%;
  height: 2em;
}

.field-unit {
  width: 10%;
  height: 2em;
}

.form-button {
  background-color: mediumpurple;

  border: none;
  border-radius: 5px;

  color: white;
  font-weight: 600;
}

.form-button:hover {
  background-color: transparent;

  border: 1px solid mediumpurple;

  color: mediumpurple;
}
