.metric-container {
  display: flex;
  flex-direction: row;
}

.metric-name {
  font-weight: 600;
  margin-right: 1em;
}

.metric-value {
  font-weight: 700;
  color: $secondary;
}

@media (min-width: 1024px) {
  .metric-container {
    border-right: 2px solid lightgray;

    padding-right: 1em;
    margin-right: 1em;
  }

  .metric-container:last-child {
    border-right: none;
  }
}
